{% import "macros.html" as macros %}
<!doctype html>
<html>
  <head>
    <title>{{ title }} - Stroke</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='AUSTIN.jpeg') }}"/>
    <script type="text/javascript">
      function loading(){
          $("#loading").show();
          $("#content").hide();       
      }
      
    </script>
    {% block headcontent %}{% endblock %}
  </head>
  <body>
      <div class="toplevel-grid">
        <div class="sidenav">
          {{ macros.build_site_navigation(items, selected) }}
        </div>
      <div class="topbar">
          <div class='topbaritem topbar-heading'>
            {% if topnavheading is defined %}
              {{ topnavheading | safe}}
            {% else %}
              {{ selected }}
            {% endif %}
          </div>
          <div class='topbaritem topbar-user flexpush'>{{ user.fullname }}</div>
          <div class="topbaritem topbar-vl"></div>
          <div class='topbaritem navlink'><a href="/changepassword" style="text-decoration: none;"><span class="material-symbols-outlined topbar-symbol">lock_reset</span></a></div>
          <div class='topbaritem navlink'><a href="/logout" style="text-decoration: none;"><span class="material-symbols-outlined topbar-symbol">logout</span></a></div>
        </div>
      <div class="main">
        <div id ="loading">
          <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <div id = "content">
        
          {% block topnav %}{% endblock %}
  
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="red-warning" style="margin: 20px; padding: 5px 5px 5px 10px">
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endwith %}
          
          {% block content %}{% endblock %}
          
          <br><br><br><br><br><br><br><br><br><br><br><br>
  
        </div>
      </div>
  </body>
</html>